/* Topic List - Styling for the list of topics.
======================================================================================================================= */

//clear clutter from topic list
.topic-list:not(.topic-list-latest){
    
    a.topic-featured-link{
        opacity: 0;
    }
     .views{
        display: none;
     }
     .activity{
         display: none;
     }
     .posters .avatar{
         display: none;
     }
     .posters .avatar.latest{
         display: inline-block;
     }
     th.posters{
         content: "test";
     }
    td[colspan="2"] + td.posters{
        display: none;
    }
    td[colspan="2"] .topic-thumbnail{
        float: right;
        padding-right: 160px;
    }
    
    .num a.badge-posts {
        font-weight: lighter;
        font-size: 2em;
    }
}

//increase font on topic list
.topic-list .main-link {
    font-size: 1.5em;
}

.topic-thumbnail{
    float: right;
    padding-right: 85px;
}

.main-link .topic-category {
    opacity: .5;
}

//modify avatars
img.avatar {
    border-radius: 10%;
}

td.posters img.avatar{
    width: 40px;
    height: 40px;
}

//only show topic actions on hover and increase opacity of categories
.topic-list .topic-actions, .topic-list .topic-rating {
    opacity: 0;

}

.topic-list>tbody>tr:hover{
    
    a.topic-featured-link{
        color: $tertiary;
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }
    .topic-actions, .topic-rating {
        opacity: .35;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
    .main-link .topic-category {
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }
}